<app-navbar></app-navbar>
<main class="w-full" style="background-color: var(--bg-content);">
  <div class="max-w-[624px] px-8 py-12 mx-auto">
    <h1 class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Dodawanie książki</h1>
    <div class="w-full p-8 rounded-3xl shadow-lg border border-black-400 box-border mt-8" style="background-color: var(--box-color);">
      <form class="flex flex-col space-y-6" [formGroup]="form">
        <div class="mt-0 flex gap-x-6 rounded-lg w-full max-w-full">
          <input
            type="file"
            class="h-[200px] border rounded-lg w-full max-w-full bg-[var(--input-bg)] cursor-pointer"
          />
          <input
            type="file"
            class="h-[200px] border rounded-lg w-full max-w-full bg-[var(--input-bg)] cursor-pointer"
          />
        </div>
        <input
          formControlName="title"
          type="text"
          placeholder="Tytuł"
          class="p-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-[var(--input-bg)] text-2xl text-[var(--text-color)]"
          required
        />
        <input
          formControlName="author"
          type="text"
          placeholder="Autor"
          class="p-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-[var(--input-bg)] text-2xl text-[var(--text-color)]"
          required
        />
        <input
          formControlName="genre"
          type="text"
          placeholder="Gatunek"
          class="p-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-[var(--input-bg)] text-2xl text-[var(--text-color)]"
          required
        />
        <input
          formControlName="publisher"
          type="text"
          placeholder="Wydawnictwo"
          class="p-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-[var(--input-bg)] text-2xl text-[var(--text-color)]"
          required
        />
        <div class="flex gap-x-6 w-full max-w-full">
          <input
            formControlName="year_of_publication"
            type="text"
            placeholder="Rok wydania"
            class="flex-1 p-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-[var(--input-bg)] text-2xl w-full max-w-full text-[var(--text-color)]"
            required
          />
          <input
            formControlName="pages"
            type="text"
            placeholder="Liczba stron"
            class="flex-1 p-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-[var(--input-bg)] text-2xl w-full max-w-full text-[var(--text-color)]"
            required
          />
        </div>
        <textarea
          formControlName="description"
          placeholder="Opis"
          rows="3"
          class="w-full p-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-[var(--input-bg)] text-2xl text-[var(--text-color)]"
        ></textarea>
        <button
          type="submit"
          class="bg-blue-500 text-white py-3 rounded-lg hover:bg-blue-600 transition-all text-3xl mt-2 cursor-pointer"
        >
          Dodaj
        </button>
      </form>
    </div>
  </div>
</main>
