<div class="login-container">
  <header>
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" class="logo-img" />
      <span class="title">MiPBP w Rzeszowie</span>
    </div>
    <nav>
      <a routerLink="/login">Zaloguj się</a>
      <a routerLink="/register">Zarejestruj się</a>
      <button class="theme-toggle">&#x1F319;</button>
    </nav>
  </header>

  <main>
    <form class="login-form">
      <input type="email" placeholder="Email" class="input-field" />
      <input type="password" placeholder="Hasło" class="input-field" />
      <a href="#" class="forgot-password">Nie pamiętasz hasła?</a>
      <button class="login-button">Zaloguj</button>
    </form>
  </main>
</div>
