<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded-xl shadow-lg w-96" style="background-color: var(--edit-user-modal);">
    <h2 class="text-2xl font-bold mb-4">Edytuj hasło</h2>
    <input [(ngModel)]="oldPassword" placeholder="Stare hasło" type="password" class="w-full mb-3 border rounded p-2" style="background-color: var(--edit-user-modal-input);"/>
    <input [(ngModel)]="newPassword" placeholder="Nowe hasło" type="password" class="w-full mb-3 border rounded p-2" style="background-color: var(--edit-user-modal-input);"/>
    <input [(ngModel)]="confirmPassword" placeholder="Powtórz nowe hasło" type="password" class="w-full mb-6 border rounded p-2" style="background-color: var(--edit-user-modal-input);"/>
    <div class="flex justify-end gap-3">
      <button (click)="cancel.emit()" class="px-4 py-2 rounded border cursor-pointer" style="background-color: var(--button-cancel-bg); border-color: var(--text-color); color: var(--button-login-text);">Anuluj</button>
      <button (click)="onSave()" class="px-4 py-2 rounded border cursor-pointer" style="background-color: var(--button-login-bg); border-color: var(--text-color); color: var(--button-login-text);">Zmień</button>
    </div>
  </div>
</div>
