<app-navbar></app-navbar>
<main class="w-full" style="background-color: var(--bg-content);">
  <div *ngIf="message"
    class="text-center mt-10 mx-10 p-4 font-semibold rounded-md shadow-md border"
    style="background-color: var(--box-login-color); color: var(--text-color);"
  >
    {{ message }}
  </div>
  <div *ngIf="badMessage"
    class="text-center mt-10 mx-10 p-4 font-semibold rounded-md shadow-md border"
    style="background-color: var(--box-bad-message-color); color: var(--text-color);"
  >
    {{ badMessage }}
  </div>

  <div class="min-w-[624px] max-w-[1284px] px-16 py-12 mx-auto">
    <h1 *ngIf="activeTab === 'profile'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Mój profil</h1>
    <h1 *ngIf="activeTab === 'history' && userType === 'READER'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Historia</h1>
    <h1 *ngIf="activeTab === 'rentals' && userType === 'READER'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Wypożyczenia</h1>
    <h1 *ngIf="activeTab === 'reservations' && userType === 'READER'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Rezerwacje</h1>
    <h1 *ngIf="activeTab === 'users' && userType === 'ADMIN'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Użytkownicy</h1>
    <h1 *ngIf="activeTab === 'orders' && userType === 'ADMIN'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Zamówienia</h1>
    <h1 *ngIf="activeTab === 'library' && (userType === 'LIBRARIAN' || userType === 'ADMIN')" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Księgozbiór</h1>
    <h1 *ngIf="activeTab === 'reports' && (userType === 'LIBRARIAN' || userType === 'ADMIN')" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Raporty</h1>

    <!-- Przyciski zakładek -->
    <div class="flex flex-wrap justify-center gap-x-6 gap-y-6 mt-12 mb-12">
      <button
        *ngIf="userType === 'READER'"
        (click)="setActiveTab('history')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'history' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Historia
      </button>

      <button
        *ngIf="userType === 'READER'"
        (click)="setActiveTab('rentals')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'rentals' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Wypożyczenia
      </button>

      <button
        *ngIf="userType === 'LIBRARIAN' || userType === 'ADMIN'"
        (click)="setActiveTab('reports')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'reports' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Raporty
      </button>

      <button
        *ngIf="userType === 'LIBRARIAN' || userType === 'ADMIN'"
        (click)="setActiveTab('library')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'library' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Księgozbiór
      </button>

      <button
        *ngIf="userType === 'ADMIN'"
        (click)="setActiveTab('users')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'users' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Użytkownicy
      </button>

      <button
        *ngIf="userType === 'ADMIN'"
        (click)="setActiveTab('orders')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'orders' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Zamówienia
      </button>

      <button
        *ngIf="userType === 'READER'"
        (click)="setActiveTab('reservations')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'reservations' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Rezerwacje
      </button>

      <button
        (click)="setActiveTab('profile')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'profile' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Mój profil
      </button>
    </div>

    <!-- Raporty / userType === 'LIBRARIAN' || userType === 'ADMIN' -->
    <div *ngIf="activeTab === 'reports' && (userType === 'LIBRARIAN' || userType === 'ADMIN')" class="flex flex-col gap-6">
      <app-reports
        [userFirstName]="firstName"
        [userLastName]="lastName">
      </app-reports>
    </div>

    <!-- Księgozbiór / userType === 'LIBRARIAN' || userType === 'ADMIN' -->
    <div *ngIf="activeTab === 'library' && (userType === 'LIBRARIAN' || userType === 'ADMIN')" class="flex flex-col gap-6">
      <!-- Błąd ładowania -->
      <p *ngIf="loadAllBookError" class="text-center text-2xl mt-2 text-red-600 font-semibold">
        Nie udało się załadować księgozbioru
      </p>

      <!-- Brak książek w bibliotece -->
      <div *ngIf="!loadAllBookError && allBooks.length === 0">
        <p class="text-center text-4xl font-semibold mt-0 opacity-70">
          Brak książek w bibliotece
        </p>
      </div>

      <div *ngIf="!loadAllBookError && allBooks.length !== 0" class="relative w-full">
        <!-- Paginacja -->
        <div class="flex justify-center items-center gap-4">
          <button
            (click)="currentPage = currentPage - 1"
            [disabled]="currentPage === 1"
            [ngClass]="{
              'cursor-not-allowed opacity-50': currentPage === 1,
              'cursor-pointer': currentPage > 1
            }"
            class="p-2 py-1 border rounded-lg transition"
            [ngStyle]="{
              'background-color': currentPage === 1 ? 'var(--box-pagination-disabled-color)' : 'var(--box-pagination-color)'
            }"
          >
            <img [class.invert]="isDarkTheme" src="assets/imgs/previous.png" alt="Poprzednia strona">
          </button>
          <span>Strona {{ currentPage }} z {{ totalPages }}</span>
          <button
            (click)="currentPage = currentPage + 1"
            [disabled]="currentPage === totalPages"
            [ngClass]="{
              'cursor-not-allowed opacity-50': currentPage === totalPages,
              'cursor-pointer': currentPage < totalPages
            }"
            class="p-2 py-1 border rounded-lg transition"
            [ngStyle]="{
              'background-color': currentPage === totalPages ? 'var(--box-pagination-disabled-color)' : 'var(--box-pagination-color)'
            }"
          >
            <img [class.invert]="isDarkTheme" src="assets/imgs/next.png" alt="Następna strona">
          </button>
        </div>

        <!-- Select ilości książek -->
        <div class="absolute right-0.5 top-1.5 flex justify-center items-center gap-2">
          <label for="booksPerPage" class="text-sm opacity-70">Na stronę:</label>
          <select id="booksPerPage" [(ngModel)]="booksPerPage" (change)="onBooksPerPageChange($event)" class="border rounded-lg px-2 py-1.5 text-sm cursor-pointer" style="background-color: var(--box-pagination-color);">
            <option [value]="3">3</option>
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="15">15</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
          </select>
        </div>
      </div>

      <!-- Dodawanie książki -->
      <div *ngIf="paginatedBooks.length !== 0" class="flex justify-center items-center gap-2">
        <button [routerLink]="['/book/add']" class="px-4 py-2 w-[136px] rounded-lg border cursor-pointer" style="background-color: var(--box-pagination-color);">Dodaj książk</button>
      </div>

      <!-- Lista książek w bibliotece -->
      <div *ngFor="let book of paginatedBooks" class="flex flex-row flex-wrap shadow-md rounded-xl border p-4 w-full" style="background-color: var(--box-color); color: var(--text-color);">
        <!-- Zdjęcie książki -->
        <div [routerLink]="['/books', book.id]" class="cursor-pointer w-[192px] h-[224px] flex justify-center items-center border rounded-lg shrink-0" style="background-color: var(--inner-book-box);">
          <img
            *ngIf="book.coverImage"
            [src]="getBookImageUrl(book.coverImage)"
            alt="Okładka książki"
            class="object-cover w-full h-full rounded-lg"
            (error)="onImageBookError($event, book?.id)"
          />
        </div>

        <!-- Tytuł i info o książce -->
        <div class="flex-1 px-6 max-[900px]:pr-2 pr-6 flex flex-col">
          <p class="mb-5.5 font-semibold italic leading-[1.1] text-3xl">{{ removeDot(book.title) }}</p>

          <div>
            <p class="mb-1.5 opacity-80 leading-tight text-lg"><strong>Gatunek:</strong> {{ book.genre }}</p>
            <p class="mb-1.5 opacity-80 leading-tight text-lg"><strong>Autor:</strong> {{ formatAuthors(book.authors) }}</p>
            <p class="mb-7 opacity-80 leading-tight text-lg"><strong>Wydawca:</strong> {{ book.publisher.name }}</p>
            <p class="mb-0 opacity-60 leading-tight" [ngStyle]="{ color: getStatusColorVar(book.status) }"><strong>Status:</strong> {{ getPolishStatus(book.status) }}</p>
          </div>
        </div>

        <!-- Guziki -->
        <div class="flex flex-col min-[900px]:flex-col flex-row gap-4 w-full min-[900px]:w-auto min-[900px]:ml-auto mt-4 min-[900px]:mt-0 min-[900px]:items-center min-[900px]:justify-center">
          <button [routerLink]="['/book/edit', book.id]" class="px-4 py-2 min-[900px]:w-[96px] w-full rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Edytuj książkę</button>
        </div>
      </div>
    </div>

    <!-- Użytkownicy / userType === 'ADMIN' -->
    <div *ngIf="activeTab === 'users' && userType === 'ADMIN'" class="flex flex-col gap-6">
      <!-- Błąd ładowania -->
      <p *ngIf="loadUsersError" class="text-center text-2xl mt-2 text-red-600 font-semibold">
        Nie udało się załadować użytkowników
      </p>

      <!-- Brak użytkowników w systemie -->
      <div *ngIf="!loadUsersError && allUsers.length === 0">
        <p class="text-center text-4xl font-semibold mt-0 opacity-70">
          Brak zarejestrowanych użytkowników
        </p>
      </div>

      <div *ngIf="!loadUsersError && allUsers.length !== 0" class="relative w-full">
        <!-- Paginacja -->
        <div class="flex justify-center items-center gap-4">
          <button
            (click)="currentUsersPage = currentUsersPage - 1"
            [disabled]="currentUsersPage === 1"
            [ngClass]="{
              'cursor-not-allowed opacity-50': currentUsersPage === 1,
              'cursor-pointer': currentUsersPage > 1
            }"
            class="p-2 py-1 border rounded-lg transition"
            [ngStyle]="{
              'background-color': currentUsersPage === 1 ? 'var(--box-pagination-disabled-color)' : 'var(--box-pagination-color)'
            }"
          >
            <img [class.invert]="isDarkTheme" src="assets/imgs/previous.png" alt="Poprzednia strona">
          </button>
          <span>Strona {{ currentUsersPage }} z {{ totalUsersPages }}</span>
          <button
            (click)="currentUsersPage = currentUsersPage + 1"
            [disabled]="currentUsersPage === totalUsersPages"
            [ngClass]="{
              'cursor-not-allowed opacity-50': currentUsersPage === totalUsersPages,
              'cursor-pointer': currentUsersPage < totalUsersPages
            }"
            class="p-2 py-1 border rounded-lg transition"
            [ngStyle]="{
              'background-color': currentUsersPage === totalUsersPages ? 'var(--box-pagination-disabled-color)' : 'var(--box-pagination-color)'
            }"
          >
            <img [class.invert]="isDarkTheme" src="assets/imgs/next.png" alt="Następna strona">
          </button>
        </div>

        <!-- Select ilości użytkowników -->
        <div class="absolute right-0.5 top-1.5 flex justify-center items-center gap-2">
          <label for="usersPerPage" class="text-sm opacity-70">Na stronę:</label>
          <select id="usersPerPage" [(ngModel)]="usersPerPage" (change)="onUsersPerPageChange($event)" class="border rounded-lg px-2 py-1.5 text-sm cursor-pointer" style="background-color: var(--box-pagination-color);">
            <option [value]="3">3</option>
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="15">15</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
          </select>
        </div>
      </div>

      <!-- Lista użytkowników w bibliotece -->
      <div *ngFor="let user of paginatedUsers" class="flex flex-col min-[900px]:flex-row shadow-md rounded-xl border p-4 w-full" style="background-color: var(--box-color); color: var(--text-color);">
        <!-- Zdjęcie użytkownika -->
        <div
          class="rounded-lg bg-white max-[900px]:w-full max-[900px]:h-[300px] max-[900px]:flex max-[900px]:justify-center max-[900px]:items-center w-[192px] h-[224px]"
          style="background-color: var(--inner-book-box);"
        >
          <img
            [src]="getUserAvatar(user)"
            (error)="onImageError($event)"
            alt="Użytkownik"
            class="w-full h-full object-contain rounded-lg border"
          />
        </div>

        <!-- Dane użytkownika -->
        <div class="flex-1 px-6 py-0 max-[900px]:px-0 max-[900px]:py-6 flex flex-col justify-between text-center min-[900px]:text-left">
          <div>
            <p class="text-2xl font-bold">{{ user.firstName }} {{ user.lastName }}</p>
            <p class="text-xl">{{ user.email }}</p>
          </div>
        </div>

        <!-- Przyciski -->
        <div class="w-full min-[900px]:w-[136px] flex min-[900px]:flex-col min-[900px]:items-center min-[900px]:justify-center gap-4 flex-row justify-between max-[900px]:mt-1">
          <button (click)="openUserEditModal(user)" class="w-full px-4 py-2 rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zmień dane</button>
          <app-edit-user-modal
            *ngIf="userToEdit && showUserModal"
            [firstName]="userToEdit.firstName"
            [lastName]="userToEdit.lastName"
            (firstNameChange)="userToEdit.firstName = $event"
            (lastNameChange)="userToEdit.lastName = $event"
            (save)="saveUserChanges()"
            (cancel)="cancelUserEdit()"
          >
          </app-edit-user-modal>
        </div>
      </div>
    </div>

    <!-- Zamówienia / userType === 'ADMIN' -->
    <div *ngIf="activeTab === 'orders' && userType === 'ADMIN'" class="flex flex-col gap-6">

    </div>

    <!-- Rezerwacje / userType === 'READER' -->
    <div *ngIf="activeTab === 'reservations' && userType === 'READER'" class="flex flex-col gap-6">
      <!-- Błąd ładowania -->
      <p *ngIf="loadReservationError" class="text-center text-2xl mt-2 text-red-600 font-semibold">
        Nie udało się załadować rezerwacji
      </p>

      <!-- Brak rezerwacji -->
      <div *ngIf="!loadReservationError && userReservations.length === 0">
        <p class="text-center text-4xl font-semibold mt-0 opacity-70">
          Brak aktywnych rezerwacji
        </p>
      </div>

      <!-- Lista rezerwacji -->
      <div *ngFor="let reservation of userReservations" class="flex flex-row shadow-md rounded-xl border p-4 w-full" style="background-color: var(--box-color); color: var(--text-color);">
        <!-- Zdjęcie książki -->
        <div [routerLink]="['/books', reservation.book.id]" class="cursor-pointer w-[192px] h-[224px] flex justify-center items-center border rounded-lg shrink-0" style="background-color: var(--inner-book-box);">
          <img
            *ngIf="reservation.book.coverImage"
            [src]="reservation.book.coverImage"
            alt="Okładka książki"
            class="object-cover w-full h-full rounded-lg"
            (error)="onImageBookError($event, reservation.book?.id)"
          />
        </div>

        <div class="w-full">
          <!-- Tytuł -->
          <div class="flex-1 px-6 pr-2 flex flex-col justify-between">
            <p class="mb-5.5 font-semibold italic leading-[1.1] text-2xl">{{ removeDot(reservation.book.title) }}</p>
          </div>

          <div class="flex flex-row">
            <!-- Info o książce -->
            <div class="flex-1 px-6 flex flex-col justify-between">
              <div>
                <p class="mb-1.5 opacity-80 leading-tight text-lg"><strong>Gatunek:</strong> {{ reservation.book.genre }}</p>
                <p class="mb-1.5 opacity-70 leading-tight"><strong>Autor:</strong> {{ formatAuthors(reservation.book.authors) }}</p>
                <p class="mb-0 opacity-60 leading-tight text-sm"><strong>Wydawca:</strong> {{ reservation.book.publisher.name }}</p>

                <div class="text-sm opacity-60 mt-6">
                  <p><strong>Status rezerwacji:</strong> {{ translateReservationStatus(reservation.status) }}</p>
                  <p><strong>Kolejka:</strong> {{ reservation.queuePosition }}</p>
                  <p><strong>Zarezerwowano:</strong> {{ reservation.reservedAt | date: 'dd.MM.yyyy' }}</p>
                  <p><strong>Wygasa:</strong> {{ reservation.expiresAt | date: 'dd.MM.yyyy' }}</p>
                </div>
              </div>
            </div>

            <!-- Guziki -->
            <div class="flex justify-start items-start">
              <div class="flex flex-col gap-4 justify-start items-start">
                <button *ngIf="reservation.status !== 'CANCELLED' && reservation.status !== 'COMPLETED' && reservation.status !== 'EXPIRED'" (click)="cancelReservation(reservation.id)" class="px-4 py-2 w-[110px] rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zrezygnuj</button>
                <button *ngIf="reservation.status === 'READY'" (click)="completeReservation(reservation.id)" class="px-4 py-2 w-[110px] rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Wypożycz</button>
                <button *ngIf="(reservation.status === 'READY' || reservation.status === 'PENDING') && canExtendReservation(reservation.expiresAt)" (click)="extendReservation(reservation.id, reservation.expiresAt)" class="px-4 py-2 w-[110px] rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Przedłuż</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Historia / userType === 'READER' -->
    <div *ngIf="activeTab === 'history' && userType === 'READER'" class="flex flex-col gap-6">
      <!-- Błąd ładowania -->
      <p *ngIf="loadError" class="text-center text-2xl mt-2 text-red-600 font-semibold">
        Nie udało się załadować historii
      </p>

      <!-- Brak wypożyczeń -->
      <div *ngIf="!loadError && returnedRentals.length === 0">
        <p class="text-center text-4xl font-semibold mt-0 opacity-70">
          Brak historii wypożyczeń
        </p>
      </div>

      <!-- Lista historii wypożyczeń -->
      <div *ngFor="let loan of returnedRentals" class="flex flex-row shadow-md rounded-xl border p-4 w-full" style="background-color: var(--box-color); color: var(--text-color);">
        <!-- Zdjęcie książki -->
        <div [routerLink]="['/books', loan.book.id]" class="cursor-pointer w-[192px] h-[224px] flex justify-center items-center border rounded-lg shrink-0" style="background-color: var(--inner-book-box);">
          <img
            *ngIf="loan.book.coverImage"
            [src]="loan.book.coverImage"
            alt="Okładka książki"
            class="object-cover w-full h-full rounded-lg"
            (error)="onImageBookError($event, loan.book?.id)"
          />
        </div>

        <div class="w-full">
          <!-- Tytuł -->
          <div class="flex-1 px-6 pr-2 flex flex-col justify-between">
            <p class="mb-5.5 font-semibold italic leading-[1.1] text-2xl">{{ removeDot(loan.book.title) }}</p>
          </div>

          <div class="flex flex-row">
            <!-- Info o książce -->
            <div class="flex-1 px-6 pr-2 flex flex-col justify-between">
              <div>
                <p class="mb-1.5 opacity-80 leading-tight text-lg"><strong>Gatunek:</strong> {{ loan.book.genre }}</p>
                <p class="mb-1.5 opacity-70 leading-tight"><strong>Autor:</strong> {{ formatAuthors(loan.book.authors) }}</p>
                <p class="mb-0 opacity-60 leading-tight text-sm"><strong>Wydawca:</strong> {{ loan.book.publisher.name }}</p>

                <div class="text-sm opacity-60 mt-6">
                  <p><strong>Przedłużono:</strong> {{ loan.extendedCount }} raz{{ loan.extendedCount === 1 ? '' : 'y' }}</p>
                  <p><strong>Wypożyczono:</strong> {{ loan.borrowedAt | date: 'dd.MM.yyyy' }}</p>
                  <p><strong>Oddano:</strong> {{ loan.returnedAt ? (loan.returnedAt | date: 'dd.MM.yyyy') : 'Zgubiona przez użytkownika' }}</p>
                </div>
              </div>
            </div>

            <!-- Guziki
            <div class="flex justify-start items-start">
              <div class="flex flex-col gap-4 justify-start items-start">
                <button class="px-4 py-2 w-[96px] rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zwróć</button>
                <button class="px-4 py-2 w-[96px] rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Przedłuż</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Wypożyczenia / userType === 'READER' -->
    <div *ngIf="activeTab === 'rentals' && userType === 'READER'" class="flex flex-col gap-6">
      <!-- Błąd ładowania -->
      <p *ngIf="loadError" class="text-center text-2xl mt-2 text-red-600 font-semibold">
        Nie udało się załadować wypożyczeń
      </p>

      <!-- Brak wypożyczeń -->
      <div *ngIf="!loadError && activeRentals.length === 0">
        <p class="text-center text-4xl font-semibold mt-0 opacity-70">
          Brak aktywnych wypożyczeń
        </p>
      </div>

      <!-- Lista aktualnych wypożyczeń -->
      <div *ngFor="let loan of activeRentals" class="flex flex-row shadow-md rounded-xl border p-4 w-full" style="background-color: var(--box-color); color: var(--text-color);">
        <!-- Zdjęcie książki -->
        <div [routerLink]="['/books', loan.book.id]" class="cursor-pointer w-[192px] h-[224px] flex justify-center items-center border rounded-lg shrink-0" style="background-color: var(--inner-book-box);">
          <img
            *ngIf="loan.book.coverImage"
            [src]="loan.book.coverImage"
            alt="Okładka książki"
            class="object-cover w-full h-full rounded-lg"
            (error)="onImageBookError($event, loan.book?.id)"
          />
        </div>

        <div class="w-full">
          <!-- Tytuł -->
          <div class="flex-1 px-6 pr-2 flex flex-col justify-between">
            <p class="mb-5.5 font-semibold italic leading-[1.1] text-2xl">{{ removeDot(loan.book.title) }}</p>
          </div>

          <div class="flex flex-row">
            <!-- Info o książce -->
            <div class="flex-1 px-6 flex flex-col justify-between">
              <div>
                <p class="mb-1.5 opacity-80 leading-tight text-lg"><strong>Gatunek:</strong> {{ loan.book.genre }}</p>
                <p class="mb-1.5 opacity-70 leading-tight"><strong>Autor:</strong> {{ formatAuthors(loan.book.authors) }}</p>
                <p class="mb-0 opacity-60 leading-tight text-sm"><strong>Wydawca:</strong> {{ loan.book.publisher.name }}</p>

                <div class="text-sm opacity-60 mt-6">
                  <p><strong>Przedłużono:</strong> {{ loan.extendedCount }} raz{{ loan.extendedCount === 1 ? '' : 'y' }}</p>
                  <p><strong>Wypożyczono:</strong> {{ loan.borrowedAt | date: 'dd.MM.yyyy' }}</p>
                  <p><strong>Oddać do:</strong> {{ loan.dueDate | date: 'dd.MM.yyyy' }}</p>
                </div>
              </div>
            </div>

            <!-- Guziki -->
            <div class="flex justify-start items-start">
              <div class="flex flex-col gap-4 justify-start items-start">
                <button (click)="returnBook(loan.id)" class="px-4 py-2 w-[110px] rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zwróć</button>
                <button (click)="extendLoan(loan.id, loan.extendedCount, loan.dueDate, loan.isReserved)" *ngIf="canExtendLoan(loan.extendedCount, loan.dueDate) && !loan.isReserved" class="px-4 py-2 w-[110px] rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Przedłuż</button>
                <button (click)="markBookAsLost(loan.id)" class="w-[110px] px-4 py-2 rounded border cursor-pointer text-center" style="background-color: var(--profile-button-user);">Zgubiona</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mój profil / userType === 'READER' || userType === 'LIBRARIAN' || userType === 'ADMIN' -->
    <div *ngIf="activeTab === 'profile'" class="flex flex-col min-[900px]:flex-row gap-6 shadow-md rounded-xl border p-4" style="background-color: var(--box-color); color: var(--text-color);">
      <!-- Zdjęcie użytkownika -->
      <div
        class="rounded-lg bg-white max-[900px]:w-full max-[900px]:h-[300px] max-[900px]:flex max-[900px]:justify-center max-[900px]:items-center w-[192px] h-[224px]"
        style="background-color: var(--inner-book-box);"
      >
        <img
          [src]="avatarPath || '/assets/imgs/user.png'"
          (error)="onImageError($event)"
          alt="Użytkownik"
          class="w-full h-full object-contain rounded-lg border"
        />
      </div>

      <!-- Dane użytkownika -->
      <div class="flex-1 flex flex-col justify-between text-center min-[900px]:text-left">
        <div>
          <p class="text-2xl font-bold">{{ firstName }} {{ lastName }}</p>
          <p class="text-xl">{{ email }}</p>
        </div>
      </div>

      <!-- Przyciski -->
      <div class="w-full min-[900px]:w-[136px] flex min-[900px]:flex-col min-[900px]:items-center min-[900px]:justify-center gap-4 flex-row justify-between max-[900px]:mt-1">
        <button (click)="toggleAvatarModal()" class="w-full px-4 py-2 rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zmień zdjęcie</button>
        <app-edit-avatar-modal
          *ngIf="showAvatarModal"
          (cancel)="toggleAvatarModal()"
          (save)="uploadAvatar($event)"
          (delete)="deleteAvatar()">
        </app-edit-avatar-modal>

        <button (click)="togglePasswordModal()" class="w-full px-4 py-2 rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zmień hasło</button>
        <app-edit-password-modal
          *ngIf="showPasswordModal"
          (cancel)="togglePasswordModal()"
          (save)="changePassword($event)">
        </app-edit-password-modal>

        <button (click)="toggleModal()" class="w-full px-4 py-2 rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zmień dane</button>
        <app-edit-user-modal
          *ngIf="showModal"
          [firstName]="tempFirstName"
          [lastName]="tempLastName"
          (firstNameChange)="tempFirstName = $event"
          (lastNameChange)="tempLastName = $event"
          (save)="saveChanges()"
          (cancel)="showModal = false">
        </app-edit-user-modal>
      </div>
    </div>
  </div>
</main>
