<app-navbar></app-navbar>
<main class="w-full" style="background-color: var(--bg-content);">
  <div class="min-w-[624px] max-w-[1284px] px-16 py-12 mx-auto">
    <h1 *ngIf="activeTab === 'profile'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Mój profil</h1>
    <h1 *ngIf="activeTab === 'history' && userType === 'READER'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Historia</h1>
    <h1 *ngIf="activeTab === 'users' && userType === 'ADMIN'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Użytkownicy</h1>
    <h1 *ngIf="activeTab === 'orders' && userType === 'ADMIN'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Zamówienia</h1>
    <h1 *ngIf="activeTab === 'library' && (userType === 'LIBRARIAN' || userType === 'ADMIN')" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Księgozbiór</h1>
    <h1 *ngIf="activeTab === 'reports' && (userType === 'LIBRARIAN' || userType === 'ADMIN')" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Raporty</h1>

    <!-- Przyciski zakładek -->
    <div class="flex flex-wrap justify-center gap-x-6 gap-y-6 mt-12 mb-12">
      <button
        *ngIf="userType === 'READER'"
        (click)="activeTab = 'history'"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'history' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Historia
      </button>

      <button
        *ngIf="userType === 'LIBRARIAN' || userType === 'ADMIN'"
        (click)="activeTab = 'reports'"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'reports' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Raporty
      </button>

      <button
        *ngIf="userType === 'LIBRARIAN' || userType === 'ADMIN'"
        (click)="activeTab = 'library'"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'library' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Księgozbiór
      </button>

      <button
        *ngIf="userType === 'ADMIN'"
        (click)="activeTab = 'users'"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'users' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Użytkownicy
      </button>

      <button
        *ngIf="userType === 'ADMIN'"
        (click)="activeTab = 'orders'"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'orders' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Zamówienia
      </button>

      <button
        (click)="activeTab = 'profile'"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'profile' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Mój profil
      </button>
    </div>






    <!-- Historia wypożyczeń -->
    <div *ngIf="activeTab === 'history' && userType === 'READER'" class="flex flex-col gap-6">
      <!-- Książka 1 -->
      <div class="flex shadow-md rounded-lg border p-4 w-full" style="background-color: var(--box-color); color: var(--text-color);">
        <div class="w-[160px] flex justify-center items-center border rounded-md" style="background-color: white;">
          <img src="/assets/imgs/book.png" alt="Okładka książki" class="w-[128px] h-[128px] object-cover" />
        </div>
        <div class="flex-1 px-6">
          <p class="text-lg font-bold">Harry Potter i Komnata Tajemnic</p>
          <p class="opacity-80">J.K. Rowling</p>
          <p class="text-sm">24.02.2025 - ...</p>
          <p>Przedłużono: 0 razy</p>
          <p>Pozostało: 11 dni</p>
        </div>
        <div class="w-[132px] flex flex-col items-end justify-between">
          <p class="text-lg mb-2">Wypożyczona</p>
          <div class="flex flex-col space-y-2">
            <button class="px-4 py-2 rounded border cursor-pointer" style="background-color: white;">Zwróć</button>
            <button class="px-4 py-2 rounded border cursor-pointer" style="background-color: white;">Przedłuż</button>
          </div>
        </div>
      </div>

      <!-- Książka 2 -->
      <div class="flex shadow-md rounded-lg border p-4 w-full" style="background-color: var(--box-color); color: var(--text-color);">
        <div class="w-[160px] flex justify-center items-center border rounded-md" style="background-color: white;">
          <img src="/assets/imgs/book.png" alt="Okładka książki" class="w-[128px] h-[128px] object-cover" />
        </div>
        <div class="flex-1 px-6">
          <p class="text-lg font-bold">Harry Potter i więzień Azkabanu</p>
          <p class="opacity-80">J.K. Rowling</p>
          <p class="text-sm">14.01.2025 - 12.03.2025</p>
          <p>Przedłużono: 1 raz</p>
        </div>
        <div class="w-[132px] flex items-end justify-end">
          <p class="text-lg">Zwrócona</p>
        </div>
      </div>
    </div>




    <!-- Mój profil / userType === 'READER' || userType === 'LIBRARIAN' || userType === 'ADMIN' -->
    <div *ngIf="activeTab === 'profile'" class="flex flex-col min-[900px]:flex-row gap-6 shadow-md rounded-xl border p-4" style="background-color: var(--box-color); color: var(--text-color);">
      <!-- Zdjęcie użytkownika -->
      <div
        class="border rounded-xl p-4 bg-white max-[900px]:w-full max-[900px]:h-[300px] max-[900px]:flex max-[900px]:justify-center max-[900px]:items-center w-[156px] h-[156px]"
        style="background-color: var(--inner-book-box);"
      >
        <img
          src="/assets/imgs/book.png"
          alt="Użytkownik"
          class="w-full h-full object-contain rounded-lg"
        />
      </div>

      <!-- Dane użytkownika -->
      <div class="flex-1 flex flex-col justify-between text-center min-[900px]:text-left">
        <div>
          <p class="text-2xl font-bold">Imię i Nazwisko</p>
          <p class="text-xl">nazwa&#64;gmail.com</p>
        </div>
      </div>

      <!-- Przyciski -->
      <div class="w-full min-[900px]:w-[164px] flex flex-row gap-8 max-[899px]:mt-1 min-[900px]:flex-col min-[900px]:items-end min-[900px]:justify-between">
        <div class="flex w-full max-[899px]:justify-between gap-4 min-[900px]:flex-col min-[900px]:w-auto min-[900px]:items-end">
          <button class="w-full max-[899px]:w-full px-4 py-2 rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zmień zdjęcie</button>
          <button class="w-full max-[899px]:w-full px-4 py-2 rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zmień hasło</button>
          <button class="w-full max-[899px]:w-full px-4 py-2 rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zmień dane</button>
        </div>
      </div>
    </div>
  </div>
</main>
