<app-navbar></app-navbar>
<main class="w-full" style="background-color: var(--bg-content);">
  <div *ngIf="message"
    class="text-center mt-10 mx-10 p-4 font-semibold rounded-md shadow-md border"
    style="background-color: var(--box-login-color); color: var(--text-color);"
  >
    {{ message }}
  </div>
  <div *ngIf="badMessage"
    class="text-center mt-10 mx-10 p-4 font-semibold rounded-md shadow-md border"
    style="background-color: var(--box-bad-message-color); color: var(--text-color);"
  >
    {{ badMessage }}
  </div>

  <div class="min-w-[624px] max-w-[1284px] px-16 py-12 mx-auto">
    <h1 *ngIf="activeTab === 'profile'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Mój profil</h1>
    <h1 *ngIf="activeTab === 'history' && userType === 'READER'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Historia</h1>
    <h1 *ngIf="activeTab === 'rentals' && userType === 'READER'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Wypożyczenia</h1>
    <h1 *ngIf="activeTab === 'reservations' && userType === 'READER'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Rezerwacje</h1>
    <h1 *ngIf="activeTab === 'users' && userType === 'ADMIN'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Użytkownicy</h1>
    <h1 *ngIf="activeTab === 'orders' && userType === 'ADMIN'" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Zamówienia</h1>
    <h1 *ngIf="activeTab === 'library' && (userType === 'LIBRARIAN' || userType === 'ADMIN')" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Księgozbiór</h1>
    <h1 *ngIf="activeTab === 'reports' && (userType === 'LIBRARIAN' || userType === 'ADMIN')" class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Raporty</h1>

    <!-- Przyciski zakładek -->
    <div class="flex flex-wrap justify-center gap-x-6 gap-y-6 mt-12 mb-12">
      <button
        *ngIf="userType === 'READER'"
        (click)="setActiveTab('history')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'history' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Historia
      </button>

      <button
        *ngIf="userType === 'READER'"
        (click)="setActiveTab('rentals')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'rentals' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Wypożyczenia
      </button>

      <button
        *ngIf="userType === 'LIBRARIAN' || userType === 'ADMIN'"
        (click)="setActiveTab('reports')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'reports' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Raporty
      </button>

      <button
        *ngIf="userType === 'LIBRARIAN' || userType === 'ADMIN'"
        (click)="setActiveTab('library')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'library' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Księgozbiór
      </button>

      <button
        *ngIf="userType === 'ADMIN'"
        (click)="setActiveTab('users')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'users' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Użytkownicy
      </button>

      <button
        *ngIf="userType === 'ADMIN'"
        (click)="setActiveTab('orders')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'orders' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Zamówienia
      </button>

      <button
        (click)="setActiveTab('reservations')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'reservations' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Rezerwacje
      </button>

      <button
        (click)="setActiveTab('profile')"
        class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border transition-all"
        [ngStyle]="{
          'background-color': activeTab === 'profile' ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
          'color': 'var(--text-color)'
        }"
      >
        Mój profil
      </button>
    </div>

    <!-- Rezerwacje / userType === 'READER' -->
    <div *ngIf="activeTab === 'reservations' && userType === 'READER'" class="flex flex-col gap-6">

    </div>

    <!-- Historia / userType === 'READER' -->
    <div *ngIf="activeTab === 'history' && userType === 'READER'" class="flex flex-col gap-6">
      <!-- Błąd ładowania -->
      <p *ngIf="loadError" class="text-center text-2xl mt-2 text-red-600 font-semibold">
        Nie udało się załadować historii
      </p>

      <!-- Brak wypożyczeń -->
      <div *ngIf="!loadError && returnedRentals.length === 0">
        <p class="text-center text-4xl font-semibold mt-0 opacity-70">
          Brak historii wypożyczeń
        </p>
      </div>

      <div *ngFor="let loan of returnedRentals" class="flex flex-row shadow-md rounded-xl border p-4 w-full" style="background-color: var(--box-color); color: var(--text-color);">
        <!-- Zdjęcie książki -->
        <div [routerLink]="['/books', loan.book.id]" class="cursor-pointer w-[192px] h-[192px] flex justify-center items-center border rounded-lg shrink-0" style="background-color: var(--inner-book-box);">
          <img
            [src]="loan.book?.coverImage"
            alt="Okładka książki"
            class="object-cover w-full h-full rounded-lg"
            (error)="onImageBookError($event, loan.book?.id)"
          />
        </div>

        <div class="w-full">
          <!-- Tytuł -->
          <div class="flex-1 px-6 pr-2 flex flex-col justify-between">
            <p class="mb-5.5 font-semibold italic leading-[1.1] text-2xl">{{ removeDot(loan.book.title) }}</p>
          </div>

          <div class="flex flex-row">
            <!-- Info o książce -->
            <div class="flex-1 px-6 pr-2 flex flex-col justify-between">
              <div>
                <p class="mb-1.5 opacity-80 leading-tight text-lg"><strong>Gatunek:</strong> {{ loan.book.genre }}</p>
                <p class="mb-1.5 opacity-70 leading-tight"><strong>Autor:</strong> {{ formatAuthors(loan.book.authors) }}</p>
                <p class="mb-0 opacity-60 leading-tight text-sm"><strong>Wydawca:</strong> {{ loan.book.publisher.name }}</p>

                <div class="text-sm opacity-60 mt-6">
                  <p><strong>Przedłużono:</strong> {{ loan.extendedCount }} raz{{ loan.extendedCount === 1 ? '' : 'y' }}</p>
                  <p><strong>Oddano:</strong> {{ loan.returnedAt | date: 'dd.MM.yyyy' }}</p>
                </div>
              </div>
            </div>

            <!-- Guziki
            <div class="flex justify-start items-start">
              <div class="flex flex-col gap-4 justify-start items-start">
                <button class="px-4 py-2 w-[96px] rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zwróć</button>
                <button class="px-4 py-2 w-[96px] rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Przedłuż</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Wypożyczenia / userType === 'READER' -->
    <div *ngIf="activeTab === 'rentals' && userType === 'READER'" class="flex flex-col gap-6">
      <!-- Błąd ładowania -->
      <p *ngIf="loadError" class="text-center text-2xl mt-2 text-red-600 font-semibold">
        Nie udało się załadować wypożyczeń
      </p>

      <!-- Brak wypożyczeń -->
      <div *ngIf="!loadError && activeRentals.length === 0">
        <p class="text-center text-4xl font-semibold mt-0 opacity-70">
          Brak aktywnych wypożyczeń
        </p>
      </div>

      <div *ngFor="let loan of activeRentals" class="flex flex-row shadow-md rounded-xl border p-4 w-full" style="background-color: var(--box-color); color: var(--text-color);">
        <!-- Zdjęcie książki -->
        <div [routerLink]="['/books', loan.book.id]" class="cursor-pointer w-[192px] h-[192px] flex justify-center items-center border rounded-lg shrink-0" style="background-color: var(--inner-book-box);">
          <img
            [src]="loan.book?.coverImage"
            alt="Okładka książki"
            class="object-cover w-full h-full rounded-lg"
            (error)="onImageBookError($event, loan.book?.id)"
          />
        </div>

        <div class="w-full">
          <!-- Tytuł -->
          <div class="flex-1 px-6 pr-2 flex flex-col justify-between">
            <p class="mb-5.5 font-semibold italic leading-[1.1] text-2xl">{{ removeDot(loan.book.title) }}</p>
          </div>

          <div class="flex flex-row">
            <!-- Info o książce -->
            <div class="flex-1 px-6 flex flex-col justify-between">
              <div>
                <p class="mb-1.5 opacity-80 leading-tight text-lg"><strong>Gatunek:</strong> {{ loan.book.genre }}</p>
                <p class="mb-1.5 opacity-70 leading-tight"><strong>Autor:</strong> {{ formatAuthors(loan.book.authors) }}</p>
                <p class="mb-0 opacity-60 leading-tight text-sm"><strong>Wydawca:</strong> {{ loan.book.publisher.name }}</p>

                <div class="text-sm opacity-60 mt-6">
                  <p><strong>Przedłużono:</strong> {{ loan.extendedCount }} raz{{ loan.extendedCount === 1 ? '' : 'y' }}</p>
                  <p><strong>Oddać do:</strong> {{ loan.dueDate | date: 'dd.MM.yyyy' }}</p>
                </div>
              </div>
            </div>

            <!-- Guziki -->
            <div class="flex justify-start items-start">
              <div class="flex flex-col gap-4 justify-start items-start">
                <button class="px-4 py-2 w-[96px] rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zwróć</button>
                <button *ngIf="loan.extendedCount < 3" class="px-4 py-2 w-[96px] rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Przedłuż</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mój profil / userType === 'READER' || userType === 'LIBRARIAN' || userType === 'ADMIN' -->
    <div *ngIf="activeTab === 'profile'" class="flex flex-col min-[900px]:flex-row gap-6 shadow-md rounded-xl border p-4" style="background-color: var(--box-color); color: var(--text-color);">
      <!-- Zdjęcie użytkownika -->
      <div
        class="rounded-lg bg-white max-[900px]:w-full max-[900px]:h-[300px] max-[900px]:flex max-[900px]:justify-center max-[900px]:items-center w-[192px] h-[192px]"
        style="background-color: var(--inner-book-box);"
      >
        <img
          [src]="avatarPath || '/assets/imgs/user.png'"
          (error)="onImageError($event)"
          alt="Użytkownik"
          class="w-full h-full object-contain rounded-lg border"
        />
      </div>

      <!-- Dane użytkownika -->
      <div class="flex-1 flex flex-col justify-between text-center min-[900px]:text-left">
        <div>
          <p class="text-2xl font-bold">{{ firstName }} {{ lastName }}</p>
          <p class="text-xl">{{ email }}</p>
        </div>
      </div>

      <!-- Przyciski -->
      <div class="w-full min-[900px]:w-[136px] flex flex-col items-center justify-center gap-4 max-[899px]:flex-row max-[899px]:justify-between max-[899px]:mt-1">  <button (click)="toggleAvatarModal()" class="w-full max-[899px]:w-full px-4 py-2 rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zmień zdjęcie</button>
        <app-edit-avatar-modal
          *ngIf="showAvatarModal"
          (cancel)="toggleAvatarModal()"
          (save)="uploadAvatar($event)"
          (delete)="deleteAvatar()">
        </app-edit-avatar-modal>

        <button (click)="togglePasswordModal()" class="w-full max-[899px]:w-full px-4 py-2 rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zmień hasło</button>
        <app-edit-password-modal
          *ngIf="showPasswordModal"
          (cancel)="togglePasswordModal()"
          (save)="changePassword($event)">
        </app-edit-password-modal>

        <button (click)="toggleModal()" class="w-full max-[899px]:w-full px-4 py-2 rounded border cursor-pointer" style="background-color: var(--profile-button-user);">Zmień dane</button>
        <app-edit-user-modal
          *ngIf="showModal"
          [firstName]="tempFirstName"
          [lastName]="tempLastName"
          (firstNameChange)="tempFirstName = $event"
          (lastNameChange)="tempLastName = $event"
          (save)="saveChanges()"
          (cancel)="showModal = false">
        </app-edit-user-modal>
      </div>
    </div>
  </div>
</main>
