<app-navbar></app-navbar>
<main class="w-full" style="background-color: var(--bg-content);">
  <div *ngIf="message"
    class="text-center mt-10 mx-10 p-4 font-semibold rounded-md shadow-md border"
    style="background-color: var(--box-login-color); color: var(--text-color);"
  >
    {{ message }}
  </div>
  <div class="min-w-[624px] max-w-[1284px] px-16 py-12 mx-auto">
    <h1 class="text-4xl font-extrabold text-center mt-4 mb-16 transition-colors duration-300" style="color: var(--text-color);">Strona główna</h1>

    <!-- Wyszukiwarka -->
    <div class="w-full flex items-center rounded-md overflow-hidden shadow-sm border" style="background-color: var(--search-input-bg);">
      <span class="p-1"><i class="fas fa-search"></i></span>
      <img src="/assets/imgs/search.png" alt="Lupa" [class.invert]="isDarkTheme" class="w-8 h-8 transition-all duration-300 hover:contrast-125"/>
      <span class="p-1"><i class="fas fa-search"></i></span>
      <input
        [(ngModel)]="searchQuery"
        (keydown.enter)="searchBooks()"
        type="text"
        placeholder="Wyszukaj książkę..."
        class="flex-1 text-xl outline-none bg-transparent"
        style="color: var(--text-color);"
      />
      <button
      (click)="searchBooks()"
        class="px-8 py-2 cursor-pointer border-l"
        style="background-color: var(--search-button-bg); color: var(--search-button-text); border-left-color: var(--text-color);"
      >
        Szukaj
      </button>
    </div>

    <!-- Kategorie -->
    <div class="w-full flex flex-wrap justify-center gap-x-6 gap-y-6 mt-12 mb-12">
      <ng-container *ngIf="!genreLoadError; else genreError">
        <button *ngFor="let genre of topGenres"
          (click)="loadBooksByGenre(genre)"
          class="min-w-[172px] px-5 py-3 text-lg rounded shadow-sm cursor-pointer border"
          [ngStyle]="{
            'background-color': selectedGenre === genre ? 'var(--selected-button-bg)' : 'var(--button-category-bg)',
            'color': 'var(--text-color)'
          }"
        >
          {{ genre }}
        </button>
      </ng-container>

      <ng-template #genreError>
        <p class="text-center text-3xl mt-4 text-red-600 font-semibold">
          Nie udało się załadować kategorii
        </p>
      </ng-template>
    </div>

    <!-- KONTENT -->
    <div class="w-full flex flex-wrap justify-center gap-8">
      <!-- Lista losowych 12/6 książek lub wyszukanych książek -->
      <ng-container *ngIf="books.length > 0; else noBooks" >
        <p class="text-center text-4xl mb-3 font-semibold mt-10 opacity-70 w-full">
          {{ sectionTitle }}
        </p>
        <div *ngFor="let book of books" class="rounded-lg shadow-md p-4 pb-3.5 w-[360px] max-[903px]:w-[304px] max-[783px]:w-[264px] border cursor-pointer" style="background-color: var(--box-book-color);" [routerLink]="['/books', book.id]">
          <div class="flex justify-center rounded-md border" style="background-color: var(--inner-book-box);">
            <img
              [src]="book.coverImage"
              alt="Okładka książki"
              (error)="onImageError($event)"
              class="max-w-[216px] max-h-[216px] w-full h-auto aspect-square object-cover transition-all duration-300 invert dark:invert-0"
            />
          </div>
          <div class="mt-4">
            <p class="mb-5.5 font-semibold italic leading-[1.1] text-2xl">{{ removeDot(book.title) }}</p>
            <p class="mb-1.5 opacity-80 leading-tight text-lg"><strong>Gatunek:</strong> {{ book.genre }}</p>
            <p class="mb-1.5 opacity-70 leading-tight"><strong>Autor:</strong> {{ formatAuthors(book.authors) }}</p>
            <p class="mb-0 opacity-60 leading-tight text-sm"><strong>Wydawca:</strong> {{ book.publisher.name }}</p>
          </div>
        </div>
      </ng-container>

      <!-- Komunikat, gdy brak losowych 12/6 książek lub wyszukanych książek -->
      <ng-template #noBooks>
        <p class="text-center text-4xl font-semibold mt-10 opacity-70">
          {{ sectionTitle || 'Brak książek do wyświetlenia' }}
        </p>
      </ng-template>
    </div>
  </div>
</main>
