<app-navbar></app-navbar>
<div class="p-4 bg-[#FFFCF0] min-h-screen">
  <!-- Wyszukiwarka -->
  <div class="flex items-center border rounded-md overflow-hidden shadow-sm bg-gray-200">
    <span class="p-2 text-gray-500"><i class="fas fa-search"></i></span>
    <img src="/assets/imgs/search.png" class="w-10 h-10 " />
    <input type="text" placeholder="Wyszukaj książkę..." class="flex-1 p-2 outline-none bg-gray-200" />
    <button class="px-6 py-2 bg-gray-400 text-black">Szukaj</button>
  </div>

  <!-- Kategorie -->
  <div class="flex space-x-4 m-[31px] justify-center">
    <button class="px-8 py-3 text-lg bg-gray-300 hover:bg-gray-400 rounded shadow-sm">Kategoria1</button>
    <button class="px-8 py-3 text-lg bg-gray-300 hover:bg-gray-400 rounded shadow-sm">Kategoria2</button>
    <button class="px-8 py-3 text-lg bg-gray-300 hover:bg-gray-400 rounded shadow-sm">Kategoria3</button>
    <button class="px-8 py-3 text-lg bg-gray-300 hover:bg-gray-400 rounded shadow-sm">Kategoria4</button>
    <button class="px-8 py-3 text-lg bg-gray-300 hover:bg-gray-400 rounded shadow-sm">Kategoria5</button>
  </div>

  <!-- Lista książek -->
  <div class="flex justify-center space-x-[35px]">
    <div class="border rounded-lg shadow-md p-4 bg-gray-100 w-[437px] h-[520px]">
      <div class="flex justify-center py-[66px] px-[66px] bg-white border rounded-md">
        <img src="/assets/imgs/book.png" alt="Okładka książki" class="w-[248px] h-[248px] object-cover" />
      </div>
      <div class="mt-4">
        <p class="font-semibold text-lg">Harry Potter i Kamień...</p>
        <p class="text-gray-600">Fantazy</p>
        <p class="text-gray-500 text-sm">J.K. Rowling</p>
      </div>
    </div>
    <div class="border rounded-lg shadow-md p-4 bg-gray-100 w-[437px] h-[520px]">
      <div class="flex justify-center py-[66px] px-[66px] bg-white border rounded-md">
        <img src="/assets/imgs/book.png" alt="Okładka książki" class="w-[248px] h-[248px] object-cover" />
      </div>
      <div class="mt-4">
        <p class="font-semibold text-lg">Harry Potter i Komnata...</p>
        <p class="text-gray-600">Fantazy</p>
        <p class="text-gray-500 text-sm">J.K. Rowling</p>
      </div>
    </div>
    <div class="border rounded-lg shadow-md p-4 bg-gray-100 w-[437px] h-[520px]">
      <div class="flex justify-center py-[66px] px-[66px] bg-white border rounded-md">
        <img src="/assets/imgs/book.png" alt="Okładka książki" class="w-[248px] h-[248px] object-cover" />
      </div>
      <div class="mt-4">
        <p class="font-semibold text-lg">Harry Potter i więzień...</p>
        <p class="text-gray-600">Fantazy</p>
        <p class="text-gray-500 text-sm">J.K. Rowling</p>
      </div>
    </div>
  </div>
</div>
