<div class="register-container">
  <header>
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" class="logo-img" />
      <span class="title">MiPBP w Rzeszowie</span>
    </div>
    <nav>
      <a routerLink="/login">Zaloguj się</a>
      <a routerLink="/register">Zarejestruj się</a>
      <button class="theme-toggle">&#x1F319;</button>
    </nav>
  </header>

  <main>
    <form class="register-form">
      <input type="text" placeholder="Imię" class="input-field" />
      <input type="text" placeholder="Nazwisko" class="input-field" />
      <input type="email" placeholder="Email" class="input-field" />
      <input type="password" placeholder="Hasło" class="input-field" />
      <input type="password" placeholder="Powtórz hasło" class="input-field" />
      <label class="checkbox-container">
        <input type="checkbox" /> Akceptuję regulamin strony
      </label>
      <button class="register-button">Zarejestruj</button>
    </form>
  </main>
</div>

